/node_modules
/public/hot
/public/storage/archivos
/public/storage/imagenes
/public/storage/tmp
/storage/*.key
/storage/pdf
/storage/framework/laravel-excel
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
